*{
    padding: 0;
    margin: 0;
   
}
body{
    font-family: 'young serif', serif;
}
.container{
    padding: 50px;
}
.section-1{
    background-image:url(https://wallpapers.com/images/file/cover-art-background-1920-x-1080-7vga262o23prghe3.jpg);
    background-position: center;
    background-size: cover;
    color:white;
    padding:20px;
}
.section-1__contact{
    background-color: #0FA1D7;
    color: black;
    text-decoration: none;
    padding:5px 10px 5px 10px ;
    display: inline-block;
    margin-top: 10px;
}
.section-1__name{
    font-size: 60px;
}
.section-1__role{
    font-size: 30px;
    margin-top: 10px;
}
.section-2,.section-3,.section-4,.section-5{
    margin-top: 20px;
}
.section-2__des,.section-3__des,.section-4__des,.section-5__des{
    margin-top: 10px;
}
.section-5{
    background-color: #08062B;
    color: white;
    padding:20px;
}
.section-3 li,.section-4 li{
    list-style: none;
}
.section-3{
    background-color:#02376D;
    color:whitesmoke;
    padding: 20px;
   display: inline-block;
   height: 250px;
   border-radius: 10px;
   vertical-align: top;
}
.section-4{
    background-color:#021E4D;
    color:whitesmoke;
    padding: 20px;
    display: inline-block;
    height:250px;
    border-radius: 10px;

}
.contact-form__input{
    margin-top: 10px;
    border: none;
    border-bottom:solid black 1px;
}
.contact-form__submit{
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    background-color: #70E5F5;
    color: black;
    border: none;
}
.contact-form__placeholder{
    margin-top: 10px;
    border:solid black 1px;
    padding: 10px;

}
